:root {
    --title-color: blueviolet;
    --text-color:blue;
    --subtitle-color:grey;
    --heading-color:black;
}
body {

}
html {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.title {
    font-size: 22px;
    color: var(--title-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.subtitle {
    font-size: 19px;
    color: var(--subtitle-color);
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
margin-bottom: 20px;
}
.card-set {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}
.card-item {
    outline: 2px solid;
    flex-basis: calc(100% / 2 - 20px);
    border-radius: 20px;
    box-shadow: 0px 3px 3px 5px grey;
}
.card {
    display:flex ;
    height: 100%;
}